html,
body{
    height: auto;
    background-color: #ffffff;
    margin: 0;
}

.web-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.navbar-grid{
    background-image: linear-gradient(#FFFFFF, #EED0E4);
}

h1{
    font-family: 'Sriracha', cursive;
    color: #AA3D3D;
}

h3{
    font-family: 'Sriracha', cursive;
    color: #AA3D3D;
    float: left;
    text-align: center;
}

h3:hover{
    color: pink;
    text-decoration: underline;
}

.btn-btn{
    font-family: 'Sriracha', cursive;
    color: white;
    border: none;
    background-color: #AA3D3D;
    border-radius: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

p, li{
    color: #AA3D3D;
}

ul.remove-style{
    list-style-type: none;
}













.footer-grid{
    background-image: linear-gradient(#EED0E4, #FFFFFF);
}