.form-grid {
    display: grid;
    grid-template-columns: 65%;
    margin-left: 580px;
    padding-top: 34px;
}

.btn.btn-default {
    background-color: #AA3D3D;
    color: white;
}

.right-text {
    margin-top: 535px;
    font-size: 18px;
    margin-left: 333px;
}

.support-btn.btn.btn-primary {
    font-family: 'Sriracha', cursive;
    color: white;
    border: none;
    background-color: #AA3D3D;
    border-radius: 18px;
    margin: 47px 453px;
    cursor: pointer;
    margin-top: 85px;
    position: relative;
    left: 420px;
    bottom: 50px;
}

.footer-right-button-grid{
    display: grid;
    grid-column: 3;
    grid-row: 0;
}